[Unit]
Description=Decode Ruuvi Gatewat MQTT JSON messages to OH2MP Beacon messages
After=network.target mosquitto.service
Wants=mosquitto.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/local/bin/ruuvigw_mqtt_decode.pl -config=/etc/ruuvigw_mqtt_decode/config.txt -tags=/etc/ruuvigw_mqtt_decode/known_tags.txt

[Install]
WantedBy=multi-user.target
